body {
  background-image: url("../img/login_bg.png"); }

  #form-block {
    background-color: #FFF;
    padding: 10px; }
    #form-block .wb {
      text-align: center;
      font-size: 20px;
      font-style: italic;
      font-weight: bold;
      color: #4D445F; }
      #form-block .form-group {
        margin: 20px 0px 20px 0px; }
        #form-block .alert {
          font-size: 12px;
          height: 22px;
          padding: 5px;
          text-align: center;
          line-height: 12px; }
