{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-3" id="form-block">
                <div class="wb">
                    welcome back
                </div>

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-warning" role="alert">
                        {% for message in messages %}
                        <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                {% endwith %}

                <form action="/auth/login" method = "post">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <i id="inputGroupPrepend" class="input-group-text fas fa-user"></i>
                            </div>
                            <input class="form-control" name="username" type="text" placeholder="Username">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <i id="inputGroupPrepend" class="input-group-text fas fa-key"></i>
                            </div>
                            <input class="form-control" name="password" type="password" placeholder="Password">
                        </div>
                    </div>

                    <div class="btn-group float-right">
                        <button class="btn btn-sm btn-primary" type="submit">Sign in</button>
                        {% if not dev %}
                        <button class="btn btn-sm btn-secondary">
                            <i class="fab fa-google"></i> Sign in with Google
                        </button>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}